{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <p>For inquiries, you can reach us via:</p>
    <ul>
        <li>Phone: <a href="tel:+27814434852">081 443 4852</a></li>
        <li>Email: <a href="mailto:emdinga@gmail.com">emdinga@gmail.com</a></li>
        <li><a href="https://www.google.com/maps/place/Suncoast+Casino,+Suncoast+Boulevard,+Durban,+KwaZulu-Natal,+South+Africa">Visit Us at Suncoast Casino, Durban</a></li>
    </ul>
    <p>Alternatively, you can use the form below to send us a message:</p>
    <form action="/send_email" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Send Message</button>
    </form>
{% endblock %}

