{% extends "layout.html" %}

{% block title %}
    Simple Map
{% endblock %}

{% block content %}
    <h3>Welcome to Football on Court Africa</h3>
    <p>Experience the thrill of indoor football like never before.</p>

    <!-- Add your map container -->
    <div class="field">
        <div id="ball"></div>
        <div class="person" id="person1"></div>
        <div class="person" id="person2"></div>
        <div class="person" id="person3"></div>
        <div class="person" id="person4"></div>
        <div class="goal"></div>
    </div>

    <script src="script.js"></script>
{% endblock %}

