<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/about">About</a></li>
                <li><a href="contact_us">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="logo-container">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/indoo_logo.png') }}" alt="Logo">
        </a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Football on Court Africa - Durban. All rights reserved.</p>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
