{% extends "layout.html" %}

{% block title %}
    User Registration
{% endblock %}

{% block content %}
    <h2>User Registration</h2>
    <form id="register-form" action="/api/register" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        <label for="cell_number">Cell Number:</label>
        <input type="text" id="cell_number" name="cell_number" required><br><br>
        <button type="submit">Register</button>
    </form>
{% endblock %}

