{% extends "layout.html" %}

{% block title %}
    Registration Successful
{% endblock %}

{% block content %}
    <h2>Registration Successful</h2>
    <p>Your registration was successful. You are now a member of our platform.</p>
    <p>You will be redirected to the main page shortly.</p>
{% endblock %}

{% block scripts %}
    <script>
        setTimeout(function() {
            window.location.href = "/dashboard";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
{% endblock %}

