{% extends "layout.html" %}

{% block title %}
    Thank You
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your message has been successfully sent. We'll get back to you shortly.</p>
        <p>Redirecting to the home page...</p>
    </div>

    <script>
        // Redirect to the home page after 3 seconds
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
{% endblock %}
